*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}
html,
body{
    min-height: 0;
    height: 100%;
}
body{
    background-color: #fdbdd1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-space{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
    justify-content: space-around;
    height: 60%;
    width: 80%;
}
.row{
   display: flex;
   width: 100%;
   flex-grow: 1;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.square{
    height: 120px;
    width: 120px;
    border-style: solid;
    border-color: black;
    border-radius: 15%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
footer{
    display: flex;
    height: 50px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}